:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --text-color: #333;
    --background-color: #f4f4f4;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;


}

.cont-one {
    width: 100%;
    height: 400px;
    background-color: rgb(219, 240, 187);
}

a {

    text-decoration: none;
    color: black;
    font-weight: lighter;
    font-size: small;

}

a:hover {
    color: rgb(211, 102, 102);
}

body {
    background-color: var(--background-color);

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: rgb(193, 241, 193);

}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

h5 {
    font-size: 15px;
    font-weight: bold;

    letter-spacing: 1px;
}

.nav-links li {
    display: inline block;
    padding: 0px 10px;
}

.btn {
    border-radius: 50;
    background-color: greenyellow;
    padding: 2px 5px;

}

.c {
    color: rgb(147, 196, 74);
}

.cont-2 {
    width: 300px;
    height: 300px;
    padding-left: 20px;
    padding-top: 10px;
    background-color: #2ecc71;
    
    
}
.nested-cont
{
    
    width: 200;
    height: 300px;
    margin-top: 10px;
    margin-left: 400px;
    position: relative;
    
    

}
.cont-rect {
    width: 100%;
    height: 200x;
    display: flex;
    direction: row;
}

.cont-2 a {

    font-weight: bold;
    color: yellowgreen;
    font-size: 15px;
    text-decoration: none;
}

.online {
    margin-bottom: 10px;

}


.btn-2 {
    background-color: rgb(130, 209, 10);
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    color: blanchedalmond;
}

.p {

    margin-top: 300px;
    font-size: x-small;
    letter-spacing: 1px;


}

.cont-2 h2 {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-bottom: 20px;

}
.img1{
    width: 100%;
    height: 100%;
}
.img2 {
    padding-left: 2px;
    padding-top: 20px;

}